.containerAbout{
    padding: 8rem 2rem 4rem;
    max-width: 1200px;
    margin: 0 auto;
}
.aboutMe{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column-reverse;
    align-items: start;
    width: 80%;
    margin: 0 auto;

    padding: 4rem 0;
}


.textAbout{
    text-align: start;
}

.titleAbout{
    text-align: start;
    opacity: 0.6;
    font-size: 2rem;
    margin: 0;
}
.hrAbout{
    color: #111;
    opacity: 0.4;
    width: 80%;
    margin: 2rem auto;
}

.left{
    width: 100%;
}

.img{
    object-fit: cover;
    object-position: 0px  ;
    margin: 0 auto 2rem;
    width: 250px;
    height: 250px;
    
    border: 5px solid rgba(1, 1, 1 , 0.8);
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.app{

}

.infoApp{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column-reverse;
    align-items: center;
    width: 90%;
    margin: 0 auto;
    
    
}
.leftInfoApp{
    box-sizing: border-box;
    width: 100%;
}
.titleInfo{
    text-align: start;
    margin: 0;
    font-size: 2rem;
    
    opacity: 0.6;
}

.textInfo{
    text-align: start;
    
    width: 100%;
}

.imageLogo{
    width: 80%;
    height: fit-content;
}

.techApp{
    width: 90%;
    margin: 0 auto;
    
}

.techs{
    box-sizing: border-box;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
    margin: 0 auto;
    padding: 2rem 0;


}

.tech{
    box-sizing: border-box;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.4);

    padding: 1rem;
    text-align: start;
    border-radius: 1rem;
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    -ms-border-radius: 1rem;
    -o-border-radius: 1rem;

    box-shadow: 2px 2px 6px #111;
}

.headerTech{
    display: flex;
    align-items: center;
}

.titleTech{
    text-align: start;
    margin: 0;
    font-size: 2rem;
    padding: 1rem 0 0 3rem;
    opacity: 0.6;
}

.nameTech{
    display: inline;
    margin: 0;
    margin-left: 0.6rem;
    font-size: 1.6rem;
    opacity: 0.6;
}

.text_p{
    color: #111;
    opacity: 0.8;
}

@media(min-width:576px){
    .aboutMe{
        flex-wrap: nowrap;
        flex-direction: row;
    }
    .tech{
        width: 100%;
    }
    .infoApp{
        flex-wrap: nowrap;
        flex-direction: row;
    }
    .leftInfoApp{
        width: 50%;
    }
    .imageLogo{
        width: 40%;
    }
    .left{
        width: 50%;
    }
}
@media(min-width:768px){
    .tech{
        width: 45%;
    }
}

