.recipes_container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 2rem;
    width: 80%;
    margin: 0 auto;
    
}

.container{
    width: 100%;
    background-color: #E8F3D6;
}