.container {
    background-color: rgba(122, 122, 122, 0.5);
    backdrop-filter: blur(10px);    
    position: fixed;
    width: 100vw;
    height: 100%;
    z-index: 2;
    overflow-y: scroll;

}

.form{
    position: relative;
    box-sizing: border-box;
    background-color: rgba(1, 1, 1, 0.9);
    margin:6rem auto;
    width: 95%;
    max-width: 1000px;
    display: flex;
    flex-wrap: wrap;
    
    padding: 1rem;
    gap: 1rem;
    border-radius: 1rem;
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    -ms-border-radius: 1rem;
    -o-border-radius: 1rem;
    
}

.Up{
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    width: 100%;
    
    
    
    border-radius: 1rem;
    padding: 0;
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    -ms-border-radius: 1rem;
    -o-border-radius: 1rem;
}

.leftUp{
    box-sizing: border-box;
    width: 95%;
    display: flex;
    gap: 1rem;
    max-width: 250px;
}

hr{
    margin: 0;
    width: 100%;
    color: #FCF9BE;
}

.btnClose{
    color: #FCF9BE;
    position: absolute;
    right: 50px;
    background: none;
    border: none;
    cursor: pointer;
    font-size: 2rem;

}


.infoMain{
    width: 100%;

}

.labelInfoMain{
    display: flex;
    flex-direction: column;
    width: 100%;
    text-align: start;

}

.labelInfoSec{
    display: flex;
    flex-direction: column;
    width: 100%;
    text-align: start;
    padding-left: 1rem;
}

.rightUp{
    width: 40%;
    display: flex;
    justify-content: flex-start;
}
.dietFilter{
    max-width: 185px;

}


.title {
    color: #FCF9BE;
    width: 100%;
    text-align: start;
    margin: 0;
}

.titleLabel{
    color: #FCF9BE;
    margin:0 0 0.4rem 0;
}

.label{
    background-color: green;
    display: flex;
    flex-direction: column;
    width: 50%;
    text-align: start;

}

.input{
    margin-top: 0.2rem;
    width: 80%;
    padding: 0.2rem ;
    border: 1px solid rgba(0,0,0, 0.2);
    border-radius: 0.2rem;
    -webkit-border-radius: 0.2rem;
    -moz-border-radius: 0.2rem;
    -ms-border-radius: 0.2rem;
    -o-border-radius: 0.2rem;
}

.inputSec{
    margin-top: 0.2rem;
    width: 40%;
    padding: 0.2rem ;
    border: 1px solid rgba(0,0,0, 0.2);
    border-radius: 0.2rem;
    -webkit-border-radius: 0.2rem;
    -moz-border-radius: 0.2rem;
    -ms-border-radius: 0.2rem;
    -o-border-radius: 0.2rem;
}

.inputHealth{
    width: 10%;
    padding: 0.2rem ;
    border: 1px solid rgba(0,0,0, 0.2);
    border-radius: 0.2rem;
    -webkit-border-radius: 0.2rem;
    -moz-border-radius: 0.2rem;
    -ms-border-radius: 0.2rem;
    -o-border-radius: 0.2rem; 
}

.down{
    padding:0 1rem;
    
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.leftDown{
    width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    

}

.rightDown{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
    width: 100%;
}

.labelDown{
    
    
    display: flex;
    flex-direction: column;
    width: 100%;
    text-align: start;
    min-height: 250px;
}

.steps{
    box-sizing: border-box;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    border: 2px solid #FCF9BE;
    min-height: 150px;
    border-radius: 0.4rem;
    -webkit-border-radius: 0.4rem;
    -moz-border-radius: 0.4rem;
    -ms-border-radius: 0.4rem;
    -o-border-radius: 0.4rem;
}

.textareaStep{
    min-height: 150px;
    border: none;
    border-radius: 0.4rem;
    -webkit-border-radius: 0.4rem;
    -moz-border-radius: 0.4rem;
    -ms-border-radius: 0.4rem;
    -o-border-radius: 0.4rem;
}

.btnsSteps{
    margin-top: 0.6rem;
    display: flex;
    gap: 0.6rem;
}

.step{
    color: #FCF9BE;
}




.noError{
    margin: 0 0 0.8rem 0;
    color: green;
    opacity: 0;
}
.error{
    margin: 0 0 0.8rem 0;
    color: red;
}


.btnCreate{
    background-color: #FAAB78;
    margin: 1rem 0;
    width: 100%;
    padding: 1rem;
    font-weight: 900;
    font-size: 1rem;
    color: #fff;
    border: none;
    border-radius: 1rem;
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    -ms-border-radius: 1rem;
    -o-border-radius: 1rem;
}

@media (min-width:576px){
    .form{
        padding: 2;
        width: 90%;
    }
    .Up{
        padding: 1rem;
        justify-content: space-around;
    }
    .inputSec{
        width: 20%;
    }

    

    .inputSec{
        width: 20%;
    }

}

@media (min-width:768px){

    .leftUp{
        width: 50%;
    }
    .rightUp{
        width: 50%;
    }
    .input{
        width: 100%;
        
    }
    .leftDown{
        width: 20%;
        display:block;
    }
    .down{
        flex-wrap: nowrap;
        justify-content: center;
    }

     .rightDown{
        width: 80%;
        flex-wrap: nowrap;
        
    }

    .labelDown{
        width: 40%;
    }
    
}

@media (min-width:992px){
    .rightDown{
        width: 70%;
        flex-wrap: nowrap;
    }
    .labelDown{
        width: 50%;
    }
}