.container {
    background-color: rgb(255, 220, 169 , 0.5);
    backdrop-filter: blur(10px);
    
    position: fixed;

    width: 100vw;
    height: 100%;
    z-index: 2;

}

.form{
    position: relative;
    box-sizing: border-box;
    background-color: #fff;
    margin:3rem auto;
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    
    padding: 2rem;
    gap: 1rem;
    border-radius: 1rem;
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    -ms-border-radius: 1rem;
    -o-border-radius: 1rem;
    
}

.btnClose{
    position: absolute;
    right: 50px;
    background: none;
    border: none;
    cursor: pointer;
    font-size: 2rem;

}

.title {
    width: 100%;
    text-align: start;
}

.label{
    display: flex;
    flex-direction: column;
    width: 49%;
    text-align: start;
}

.input{
    padding: 1rem 1.4rem;
    border: 1px solid rgba(0,0,0, 0.2);
    border-radius: 1rem;
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    -ms-border-radius: 1rem;
    -o-border-radius: 1rem;
}

.btnCreate{
    background-color: #FAAB78;
    margin: 1rem 0;
    width: 100%;
    padding: 1rem;
    font-weight: 900;
    font-size: 1rem;
    color: #fff;
    border: none;
    border-radius: 1rem;
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    -ms-border-radius: 1rem;
    -o-border-radius: 1rem;
}
