.loading{
    background-color: rgba(1, 1, 1, 0.6);
    width: 90%;
    max-width: 600px;
    position: relative;
    margin: 0 auto;
    display: flex;
    
    align-items: center;
    justify-content: center;
}

.image{
    width: 50%;
}

.loadingGif {
    bottom: 4%;
    right: 35%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3rem;
    font-weight: bold;
    
    }

.titleLoading{
    color: #241905;
}

    .dot1 {
        color: #241905;
    animation: loading 1s infinite;
    -webkit-animation: loading 1s infinite;
}

.dot2{
    color: #241905;
    animation: loading2 1s infinite;
    -webkit-animation: loading2 1s infinite;
}
.dot3{
    color: #241905;
    animation: loading3 1s infinite;
    -webkit-animation: loading3 1s infinite;
}
@keyframes loading {
    0% {
    opacity: 0.2;
    }
    20% {
        opacity: 1;
    }
    60%{
        opacity: 0.2;
    }
    100% {
        opacity: 0.2;
    }
    }
@keyframes loading2 {
    0% {
    opacity: 0.2;
    }
    40% {
        opacity: 1;
    }
    80% {
        opacity: 0.2;
    }
    100%{
        opacity: 0.2;
    }
    }
@keyframes loading3 {
    0% {
    opacity: 0.2;
    }
    60% {
        opacity: 1;
    }
    100% {
        opacity: 0.2;
    }
    }

