.containerFilter{
    width: 30%;
    display: none;
}

.filterBar{
    background-color: rgba(1, 1, 1, 0.8);
    width: fit-content;
    min-width: 200px;
    margin-top: 2rem;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.6rem;
    padding: 1rem 0;
}

@media (min-width:768px){
    .containerFilter{
        display: block;
    }
}

@media (min-width:992px){
    .containerFilter{
        width: 20%;
    }
}



