.container{
    box-sizing: border-box;
    
    
    padding: 8rem 0 2rem 0;
}

.detail{
    box-sizing: border-box;
    padding:1rem 0;
    background-color: rgba(1, 1, 1, 0.7);
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;

}

.left{
    width: 100%;
    box-sizing: border-box;
    padding: 0 1rem;
}

.imageLeft{
    width: 70%;
    max-width: 350px;
    border-radius: 0.4rem;
    -webkit-border-radius: 0.4rem;
    -moz-border-radius: 0.4rem;
    -ms-border-radius: 0.4rem;
    -o-border-radius: 0.4rem;
}

.title, .summary{
    text-align: center;
    
}

.title{
    margin: 0;
    color: #ddd;
}

.summary{
    font-size: 0.8rem;
    color: #ddd;
}

.stepUni{
    display: flex;
    margin-bottom: 1rem;
}

.steps{
    box-sizing: border-box;
    border: 1px solid #FCF9BE;
    
    text-align: start;
    padding:0.4rem;

    border-radius: 1rem;
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    -ms-border-radius: 1rem;
    -o-border-radius: 1rem;
}
.listSteps{
    text-align:  center;
    margin: 0 0 1rem 0;
    font-size: 1.4rem;
    color: #FCF9BE;
}

.stepNumber{
    margin-right: 0.6rem;
    color: #FCF9BE;
}
.step{
    color: #ddd;
}



.rigth{
    box-sizing: border-box;
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;

}

.image{
    display: none;
    width: 100%;
    max-width: 400px;
    border-radius: 0.4rem;
    -webkit-border-radius: 0.4rem;
    -moz-border-radius: 0.4rem;
    -ms-border-radius: 0.4rem;
    -o-border-radius: 0.4rem;
}


.desc{
    margin-top: 1rem;
    width: fit-content;
    display: flex;
    padding: 0.6rem 0.8rem;
    justify-content: space-around;
    background-color: rgba(1, 1, 1, 0.5);
    gap: 1rem;
    border-radius: 0.8rem;
    -webkit-border-radius: 0.8rem;
    -moz-border-radius: 0.8rem;
    -ms-border-radius: 0.8rem;
    -o-border-radius: 0.8rem;
}

.containerUni{
    display: flex;
    justify-content: center;
}

.uni{
    width: 25%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}

.iconDolar, .iconTimer{
    width: 90%;
    min-width: 50px;
}

.icon{
    width: 95%;
}




.infoIcon{
    display: block;
    font-weight: 700;
    color: #ddd;
    font-size: 1.2rem;
}

.ingredients{
    color: #ddd;
    margin-top: 1rem;
    box-sizing: border-box;
    width: 100%;
    text-align: start;
    padding: 1rem;
    border: 1px solid #F4EEB1;
    border-radius: 1rem;
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    -ms-border-radius: 1rem;
    -o-border-radius: 1rem;
}

@media (min-width:576px){
    .detail{
        width: 90%;
        padding: 2rem;
        flex-wrap: wrap;

    }
    .left{
        width: 100%;
    }

    .steps{
        padding:1rem 3rem 2rem;
    }

    .rigth{
        width: 100%;
    }

    
}
@media (min-width:768px){
    .detail{
        width: 90%;
    }
    .left{
        width: 100%;
    }
    
    
 
}
@media (min-width:992px){
    .detail{
        width: 80%;
        flex-wrap: nowrap;
    }
    .title, .summary{
        text-align: start;
        
    }

    .steps{
        padding:1rem
    }

    .left{
        width: 100%;
    }

    .imageLeft{
        display: none;
    }

    .image{
        display: block;
    }
}