.container{
    height: 100vh;
    max-height: 550px;
}

.detail{
    background-color: red;
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

.leftUp{
    width: 50%;
}

.leftDown{
    width: 50%;
}