.orderFilter{
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    width: fit-content;
}

.opc{
    cursor: pointer;
    font-weight: 900;
    margin: 0.2rem;
    border: none;
    padding:0.2rem 2rem;
    width: 45%;
    background-color: #FCF9BE;
    border-radius: 0.4rem;
    -webkit-border-radius: 0.4rem;
    -moz-border-radius: 0.4rem;
    -ms-border-radius: 0.4rem;
    -o-border-radius: 0.4rem;
}

.opc:hover{
    background-color: #fdf66f;
}


.order{
    cursor: default;
    color: #FCF9BE;
    margin: 0 0 0.2rem 0;
    text-align: start;
}