.titleCreate{
    color: #FCF9BE;
    margin: 0 0 0.4rem 0;
    text-align: start;
}

.btns{
    
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    
}

.btnReset{
    width: fit-content;
    font-weight: 900;
    margin: 0.2rem;
    margin-top: 2rem;
    border: none;
    padding:0.2rem 1rem;
    width: 60%;
    background-color: #FCF9BE;
    border-radius: 0.4rem;
    -webkit-border-radius: 0.4rem;
    -moz-border-radius: 0.4rem;
    -ms-border-radius: 0.4rem;
    -o-border-radius: 0.4rem;
}

.btnCreate{
    
    font-weight: 900;
    margin: 0.2rem;
    border: none;
    padding:0.2rem 1rem;
    width: 40%;
    background-color: #FCF9BE;
    border-radius: 0.4rem;
    -webkit-border-radius: 0.4rem;
    -moz-border-radius: 0.4rem;
    -ms-border-radius: 0.4rem;
    -o-border-radius: 0.4rem;
}

.container{
    
    width: 80%;
    margin: 0 auto;
}