.footer{
    box-sizing: border-box;
    padding: 2rem 0;
    background-color: #111;
    
    display: flex;
    flex-wrap: wrap;
    color: #fff;
    justify-content: space-evenly;
}



.titleAbout{
    text-align: start;
}

.divAbout{
    width: 90%;
    
}

.about{
    text-align: start;
    font-size: 0.8rem;
}

.contact{
    
    width: 30%;
}
.titleContact{
    text-align: start;
}

.ul{
    text-align: start;
    list-style: none;
}

.iconContact{
    width: 10%;
}

.li{
    display: flex;
    align-items: flex-end;
    gap: 0.2rem;
    margin: 0.4rem 0;
}

.social{
    width: 40%;
}

.titleSocial{
    text-align: start;
    
}

.icons{
    display: flex;
    justify-content: space-between;
    
}

.iconSocial{
    width: 15%;
}

.derechosContainer{
    margin: 2rem 0;
    width: 90%;
}

.derechos{
    opacity: 0.6;
    font-size: 0.8rem;
}

@media (min-width:576px){
    .divAbout{
        width: 20%;
        
    }
    .contact{
    
        width: 20%;
    }
    .social{
        width: 30%;
    }
}
@media (min-width:768px){
    .divAbout{
        width: 20%;
        
    }
    .contact{
    
        width: 20%;
    }
    .social{
        width: 30%;
    }
}
@media (min-width:992px){
    .divAbout{
        width: 20%;
        
    }
    .contact{
    
        width: 16%;
    }
    .social{
        width: 20%;
    }
}