.container{
   
}
.divSearchBar{
    display: flex;
    align-items: flex-end;
    width: fit-content;
    margin: 0 auto;
    padding: 1rem;
    gap: 1rem;
    
}

.containerSearch{
    position: relative;
}

.search{

    background-color: #FCF9BE;
    padding: 0.6rem 1rem 0.6rem 2rem;
    border: none;

    box-shadow: 2px 2px 6px black;

    border-radius: 0.6rem;
    -webkit-border-radius: 0.6rem;
    -moz-border-radius: 0.6rem;
    -ms-border-radius: 0.6rem;
    -o-border-radius: 0.6rem;
}

.iconSearch{
    width: 20px;
    position: absolute;
    left: 0.4rem;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
}

.label{

    display: flex;
    flex-direction: column;
    text-align: start;
    gap: 0.4rem;
}

.select{

    background-color: #E8F3D6;
    background-color: #FCF9BE;
    border: none;
    padding:0.6rem 1rem;
    border-radius: 0.6rem;
    -webkit-border-radius: 0.6rem;
    -moz-border-radius: 0.6rem;
    -ms-border-radius: 0.6rem;
    -o-border-radius: 0.6rem;
}

.btnCreate{
    padding:0.6rem 1rem;
    width: fit-content;
    background-color: #FCF9BE;
    border: none;

    box-shadow: 2px 2px 6px black;

    border-radius: 0.6rem;
    -webkit-border-radius: 0.6rem;
    -moz-border-radius: 0.6rem;
    -ms-border-radius: 0.6rem;
    -o-border-radius: 0.6rem;
}