.principal{
    width: 100%;
}

.down{
    display: flex;
    background-image: url("https://images.unsplash.com/photo-1546484396-fb3fc6f95f98?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80");
    background-image: url("https://media.istockphoto.com/id/586070810/es/foto/fondo-de-textura-de-panel-de-madera-blanca.jpg?s=612x612&w=0&k=20&c=yjKUkDk1Nc31XfmGvTr6ExjiXbzxiTeZFnpVwyXQUqU=");
    

    min-height: 800px;
    padding-bottom: 2rem;
}

.text_p{
    box-sizing: border-box;
    padding: 1rem;
    width: 80%;
    color: rgba(1, 1, 1, 0.8);
    font-weight: 700;
    text-align: start;
    font-size: 1.2rem;

    margin: 1rem;
    border-radius: 1rem;
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    -ms-border-radius: 1rem;
    -o-border-radius: 1rem;
}

.negrita{
    color:goldenrod;
    font-weight: 900;
}