.containerPag{
    
    width: fit-content;
    margin: 1rem auto;
}
.page{
    cursor: pointer;
    background-color: #ccc998;
    font-weight:0;
    font-size: 0.7rem;
    border: 1px solid black;
    border: none;
    width: 20px;
    margin:0 0.2rem;
    padding: 0.4rem 0;
    box-shadow: 2px 2px 5px black;
    

    border-radius: 0.2rem;
    -webkit-border-radius: 0.2rem;
    -moz-border-radius: 0.2rem;
    -ms-border-radius: 0.2rem;
    -o-border-radius: 0.2rem;
}
.page:active{
    box-shadow: 2px 2px 3px black;
}

.pageArrow{
    cursor: pointer;
    background-color: #FCF9BE;
    font-weight:0;
    font-size: 0.7rem;
    border: none;
    width: 20px;
    margin:0 0.2rem;
    padding: 0.4rem 0;

    box-shadow: 2px 2px 5px black;

    border-radius: 0.2rem;
    -webkit-border-radius: 0.2rem;
    -moz-border-radius: 0.2rem;
    -ms-border-radius: 0.2rem;
    -o-border-radius: 0.2rem;
}

.pageArrow:active{
    box-shadow: 2px 2px 3px black;
}

.pageActive{
    cursor: pointer;
    background-color: #FCF9BE;
    font-weight:0;
    font-size: 0.7rem;
    border: none;
    width: 20px;
    margin:0 0.2rem;
    padding: 0.4rem 0;

    box-shadow: 2px 2px 5px black;

    border-radius: 0.2rem;
    -webkit-border-radius: 0.2rem;
    -moz-border-radius: 0.2rem;
    -ms-border-radius: 0.2rem;
    -o-border-radius: 0.2rem;
}

.pageActive:active{
    box-shadow: 2px 2px 3px black;
    
}

@media (min-width:576px){
    .page{
        width: 25px;
        font-weight: 900;
        font-size: 0.9rem;
    }
    .pageArrow{
        width: 25px;
        font-weight: 900;
        font-size: 0.9rem;
    }

    .pageActive{
        width: 25px;
        font-weight: 900;
        font-size: 0.9rem;
    }
}