.errorDiv{
    background-image: url("https://www.thespruce.com/thmb/zmWyqdsTawuabC8LlEJ1iKYGCrM=/2048x0/filters:no_upscale():max_bytes(150000):strip_icc()/modern-white-kitchens-4164395-hero-67d3da603c9146ef91bc24623442df85.jpg");

    height: 100vh;
    background-size: cover;
    display: flex;
    justify-content: center;
}

.messageError{
    width: 50%;
    height: 300px;
    background-color: #fff;

    border: 4px solid black;
    margin-top: 1rem;
    border-radius: 1rem;
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    -ms-border-radius: 1rem;
    -o-border-radius: 1rem;
}

.error{
    font-size: 4rem;
    margin: 0;
}

.not{
    margin: 0;
}

.text_p{
    opacity: 0.6;
}

.btn{
    display: block;
    width: fit-content;
    text-decoration: none;
    margin: 2rem auto 0;
    color: #111;
    background-color: #F4EEB1;
    padding: 0.4rem 2rem;
    border: 1px solid black;
    border-radius: 1rem;
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    -ms-border-radius: 1rem;
    -o-border-radius: 1rem;
}