.divRecipe{
    width: 100%;
}

.recipe{
    box-sizing: border-box;
    width: 100%;
    min-width: 300px;
    min-height: 160px;
    
    
    display: flex;
    gap: 0.6rem;
    align-items: flex-start;
    padding: 0.6rem 0;
}

.leftCard{
    display: flex;
    flex-direction: column;
    width: 50%;
    align-items: flex-start;
    
}

.imageContainer{
    position: relative;
    height: 100%;
    margin-bottom: 0.4rem;
    box-sizing: border-box;
    box-shadow: 2px 2px 6px #111;
    min-width:120px ;
    overflow: hidden;
    border-radius: 0.6rem;
    -webkit-border-radius: 0.6rem;
    -moz-border-radius: 0.6rem;
    -ms-border-radius: 0.6rem;
    -o-border-radius: 0.6rem;
}

.btnClose{
    cursor: pointer;
    position: absolute;
    right: 5%;
    top: 5%;
    color: #fff;
    background-color: rgb(248, 117, 117);

    padding:0 0.2rem;
    border: none;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
.btnClose:hover{
    background-color: red;
}

.image{
    width: 100%;
    height: 100%;
    min-height: 130px;
    object-fit: cover;
   
    transition: 0.3s ease-in-out;
    -webkit-transition: 0.3s ease-in-out;
    -moz-transition: 0.3s ease-in-out;
    -ms-transition: 0.3s ease-in-out;
    -o-transition: 0.3s ease-in-out;
    
    
}

.iconsRecipe{
    margin: 0 auto;
    width: 80%;
    display: flex;
    justify-content: space-between;
}

.containerHeart{
    box-sizing: border-box;
    
    width: 18%;
    display: flex;
    align-items: center;
}

.heart{
width: 100%;
min-width: 50%;
}

.containerStar{
width: 10%;
display: flex;
align-items: center;

}
.star{
    width: 100%;
}

.link:hover .image{
    transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
}

.description{
    width: 50%;
    
}

.diet{
    font-size: 0.6rem;
    display: block;
    color: rgba(229, 229, 229, 0.6);
    
    
}

.title{
    text-decoration: none;
    
}

.text_h{
    margin: 0;
    color: #ddd;
    text-align: start;
    font-size: 1rem;
    width: 100%;    
}

.recipeDown{
    padding-top: 0.6rem ;
    display: flex;
    flex-wrap: wrap;
    gap: 0.4rem;
    justify-content: flex-start;
    width: 100%;
    margin: 0 auto;
    
}

.recipeTop{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.healthScore{
        font-size: 0.8rem;
        font-weight: 700;
        color: rgb(151, 240, 151)
}

.nohealthScore{
    font-size: 0.8rem;
    font-weight: 700;
    color: rgb(241, 187, 85);
    
}

@media (min-width:380px){
    .leftCard{
        display: flex;
        flex-direction: column;
        width: 40%;
        align-items: flex-start;
    
    }

    .image{
        height: 100%;
        width: 100%;
        object-fit: cover;
        transition: 0.3s ease-in-out;
        -webkit-transition: 0.3s ease-in-out;
        -moz-transition: 0.3s ease-in-out;
        -ms-transition: 0.3s ease-in-out;
        -o-transition: 0.3s ease-in-out;
    }
    
    .link:hover .image{
        transform: scale(1.2);
        -webkit-transform: scale(1.2);
        -moz-transform: scale(1.2);
        -ms-transform: scale(1.2);
        -o-transform: scale(1.2);
    }
    
    
    .title{
        text-decoration: none;
        
    }
    
    
    .text_h{
        margin: 0;
        color: #ddd;
        text-align: start;
        font-size: 1rem;
        width: 100%;
        
        
    }
    
    .recipeDown{
        padding-top: 0.6rem ;
        display: flex;
        flex-wrap: wrap;
        gap: 0.4rem;
        justify-content: flex-start;
        width: 100%;
        margin: 0 auto;
        
    }
    .diet{
        font-size: 0.8rem;
        
        
    }
    
    .recipeTop{
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
    }
    
    .text_h{
        font-size: 1.2rem;
    }
}

@media(min-width:576px){
    .healthScore{
        font-size: 1rem;
        font-weight: 700;
        
}

.nohealthScore{
    font-size: 1rem;
    font-weight: 700;
    
}

.leftCard{
    display: flex;
    flex-direction: column;
    width: 30%;
    align-items: flex-start;

}
}
@media(min-width:768px){

    .divRecipe{
        width: 100%;
        max-width: 700px;
        
    }
    

    .leftCard{
        display: flex;
        flex-direction: column;
        width: 30%;
        align-items: flex-start;
    
    }

    .healthScore{
        font-size: 0.8rem;
        font-weight: 700;
        
}

.nohealthScore{
    font-size: 0.8rem;
    font-weight: 700;
    
}
}
@media(min-width:992px){
    .divRecipe{
        width: 48%;
    }
    
    .image{
        min-height: 140px;
    }
    .leftCard{
        display: flex;
        flex-direction: column;
        width: 50%;
        align-items: flex-start;
        
    }
}

@media (min-width:1200px){
    .divRecipe{
        width: 32%;
    }
}